.bookmarks {
  width: inherit;
  height: inherit;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(114, 114, 114) #cfad85;
  position: inherit;
}

.bookmarks__title {
  margin: 1.5rem;
}

.bookmarks__empty {
  margin-top: 5rem;
}

.bookmarks__empty p {
  font-size: 1.5rem;
}
