#search-results-panel {
  flex: 1;
  width: 20%;
  min-width: 300px;
  margin: 0.5rem 0;
}

.state-container {
  flex: 1;
  min-width: 300px;
  margin-top: 10rem;
}

.screen-reader-content {
  height: 1px;
  width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
