.recipe-detail-container {
  width: inherit;
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.recipe-detail {
  max-width: 80%;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.recipe-detail img {
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  position: relative;
  transform-origin: center top;
}

.recipe-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start;
  line-height: 1.45;
}

.cooking-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.servings-control {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  height: 3.5rem;
}

.bookmark-button {
  background: transparent;
  cursor: pointer;
}

.rd-btn {
  border-radius: 50%;
  padding: 0.8rem;
  line-height: 0.9;
}

.icon {
  margin: 0;
}

.directions {
  height: 11rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.directions h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.directions-link {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e1b382, #2d545e) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.ingredients-list {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.ingredient-item {
  font-size: 1.1rem;
  text-align: start;
  padding: 0.2rem;
  display: flex;
}

.icon {
  flex-shrink: 0;
}

.ingredient-text {
  margin-left: 0.5rem;
}
