.search-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  flex: 1;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}
