.recipe-view {
  height: 90%;
}

.empty-view-text {
  margin: 2rem 0;
  font-size: 1.3rem;
}

.recipe-view-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
