.recipe-view {
  height: 87%;
  overflow-x: hidden;
}

.empty-view {
  margin-top: 6.8rem;
}

.empty-view-text {
  margin: 2rem 0;
  font-size: 1.3rem;
}

.recipe-view-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
